@charset "UTF-8";

body {
    margin: 0 auto;
    position: fixed;
    vertical-align: bottom;
}

header {
    background-color: #ffcccc;
    margin: 0 auto;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: static;
}

#main {
    background-color: #ccffcc;
    width: 700px;
}

#menu {
    background-color: #ccccff;
    width: 300px;
}

footer {
    background-color: #ffccff;
    width: 1000px;
    margin: 0 auto;
}